@font-face {
	font-family: 'Digi';
	src: url('ds-digi.ttf');
}
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: normal;
  src: url('VarelaRound-Regular.ttf');
}
* {
	margin:0;
	padding:0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	min-width: 500px;
	height: 300px;
}

#searchBox {
	float: left;
	width: 250px;
	height: 100%;
}

#searchForm {
	height: 18px;
	margin: 10px;
	border: 1px solid gray;
	border-radius: 10px;
	overflow: hidden;
}

#searchInput {
	float: left;
	width: 200px;
	margin: 1px 0 0 8px;
	border: 0;
	outline: none;
}

#searchForm img {
	width: 14px;
	margin-top: 2px;
}

img#searchImg{
	cursor: pointer;
}

img#loader{
	display: none;
}

#resultList {
	height: 260px;
	overflow: auto;
}

#resultList li {
	font-size: 0.7em;
	font-family: 'Varela Round', sans-serif;
	color: black;
	padding: 4px 0 4px 12px;
	cursor: pointer;
}

#resultList li span {
	color: gray;
	font-size: 0.9em;
	margin-left: 6px;
}

#resultList li:hover {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0FA6F7), to(#0F7FEC));
	color: white;
	border-radius: 0 10px 10px 0;
}

#resultList li:hover span {
	color: silver;
}

#resultList li:active {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0F7FEC), to(#0FA6F7));
}

#playerBox {
	float: right;
	height: 100%;
	width: 249px;
	border-left: 1px dotted silver;
}

#audio_player {
	font-family: Digi;
	margin: 15px;
	overflow: hidden;
}

#time_counter {
	font-size: 1.6em;
	text-align: center;
	color: #3CB1FF;
	float: left;
	background-color: #2D2D2D;
	width: 69px;
	padding: 5px 0;
	border-radius: 5px;
	text-shadow: 0 0 5px #3CB1FF;
}

#player_controls {
	float: left;
	overflow: hidden;
}

#player_controls #stop {
	width: 27px;
	float: left;
	cursor: pointer;
	margin: 5px 5px;
}

#player_controls #stop:active {
	width: 25px;
	padding: 1px;
}

#player_controls #playPause {
	width: 37px;
	float: left;
	cursor: pointer;
}

#player_controls #playPause:active {
	width: 35px;
	padding: 1px;
}

#player_controls #volume {
	width: 49px;
	float: left;
	margin: 10px 5px;
	cursor: pointer;
}

#player_controls #volumeInfo {
	float: left;
	margin-top: 12px;
	font-size: 0.8em;
}

#playList {
	margin-top: 15px;
}

#playList h3 {
	text-align: center;
	font-size: 0.9em;
	color: silver;
}

#playList ul {
	list-style-type: none;
	overflow: auto;
	height: 213px;
}

#playList li {
	font-size: 0.7em;
	font-family: 'Varela Round', sans-serif;
	color: black;
	border-width:1px;
	border-color: #E3E3E3;
	border-bottom-style:solid;
	padding: 4px 0 4px 14px;
	margin: 2px 0 2px 10px;
	border-radius: 3px 3px 0 0;
	cursor: pointer;
}

#playList li span {
	color: gray;
	font-size: 0.9em;
	margin-left: 6px;
}

#playList li.playing {
	color: #009BC0;
	border-color: #00AFD8;
}

#playList li:hover {
	color: white;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D0AFFF), to(#BF95FF));
}


#dropzoneSearch {
 	position: absolute;
 	top: 6px;
	left: 6px;
	font-family: Verdana, sans-serif;
	font-size: 1.3em;
	text-align: center;
	height: 284px;
	width: 234px;
	background-color: white;
	border: 2px dashed gray;
	opacity: 0.8;
	display: none;
}

#dropzoneSearch img {
	margin-top: 68px;
	opacity: 0.4;
}

